[submodule "modules/cytoscape"]
	path = modules/cytoscape
	url = https://github.com/cytoscape/cytoscape.js.git
[submodule "modules/d3"]
	path = modules/d3
	url = https://github.com/mbostock/d3.git
[submodule "modules/requirejs"]
	path = modules/requirejs
	url = https://github.com/jrburke/requirejs.git
